### Import libraries and file

In [1]:
import pandas as pd
import csv
import numpy as np
from scipy.spatial.distance import squareform, pdist

In [2]:
filename = 'anpn2.csv'

### Function do find the max size of columns

In [3]:
#preprocessing
def get_max_len():
    with open(filename, 'r') as csvfile:
        reader = csv.reader(csvfile)
        num = []
        for i, row in enumerate(reader):
            num.append(len(row))
        m = max(num)
        #print m
        return m
    
print(get_max_len())

11

### Read and show dataset

In [4]:
df = pd.read_csv(filename, header=None, na_values=0, names=range(get_max_len()), low_memory=False)

In [6]:
df.head()

   0   1   2    3    4    5    6    7    8    9    10
0  a1  p1  p2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  a2  p5  p7   p9  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  a3  p2  p3   p4  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  a4  p7  p5   p8   p3  NaN  NaN  NaN  NaN  NaN  NaN
4  a5  p4  p1   p6   p9   p7   p3  NaN  NaN  NaN  NaN

In [7]:
df

     0    1    2    3    4    5    6    7    8    9    10
0    a1   p1   p2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    a2   p5   p7   p9  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    a3   p2   p3   p4  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    a4   p7   p5   p8   p3  NaN  NaN  NaN  NaN  NaN  NaN
4    a5   p4   p1   p6   p9   p7   p3  NaN  NaN  NaN  NaN
5    a6   p7   p3   p5   p2  NaN  NaN  NaN  NaN  NaN  NaN
6    a7   p1   p5   p9  NaN  NaN  NaN  NaN  NaN  NaN  NaN
7    a8   p6   p3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
8    a9   p1   p3   p5   p6   p7   p8   p9  NaN  NaN  NaN
9   a10   p1   p2   p3   p4   p5   p6   p7   p8   p9  p10
10  a11   p5   p8  p10  NaN  NaN  NaN  NaN  NaN  NaN  NaN
11  a12   p1   p9   p4   p7   p3  NaN  NaN  NaN  NaN  NaN
12  a13   p1   p2   p3  NaN  NaN  NaN  NaN  NaN  NaN  NaN
13  a14   p4   p5   p6  NaN  NaN  NaN  NaN  NaN  NaN  NaN
14  a15   p7   p8   p9  p10  NaN  NaN  NaN  NaN  NaN  NaN
15  a16   p1   p3   p5   p7  NaN  NaN  NaN  NaN  NaN  NaN
16  a17   p2   p4   p6   p8  NaN  NaN  NaN  NaN  NaN  NaN
17  a18  p10   p9   p6   p2   p1  NaN  NaN  NaN  NaN  NaN
18  a19   p1   p2   p5   p6   p8   p9  p10  NaN  NaN  NaN
19  a20   p3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

### Filter Dataset

In [8]:
permissions = set()
permissions_list = set()
apps_list = set()


for index, row in df.iterrows():
    app = row[0]
    
    for perm in row[1:]:
        if str(perm) == 'nan':
            break
        else:
            #perm_list = perm.split('.')
            perm_list = perm
            perm_t = perm_list.lower()
            permissions.add(perm_t)
            permissions_list.add((app, perm_t))
            apps_list.add(app)

### Create new dataframe from filter permissions and apps

In [9]:
df_apps = pd.DataFrame(list(permissions_list))
df_apps.head()
df_apps

      0    1
0    a9   p8
1    a4   p7
2    a5   p9
3    a6   p7
4    a3   p4
5    a7   p1
6    a9   p3
7    a9   p5
8   a17   p4
9   a18   p2
10  a19   p8
11  a10   p1
12  a11  p10
13  a16   p5
14   a5   p7
15   a5   p3
16  a14   p4
17  a12   p9
18   a9   p9
19   a5   p6
20   a1   p2
21  a19   p1
22   a1   p1
23  a19  p10
24  a15   p9
25  a10   p4
26  a17   p6
27  a18   p1
28  a12   p4
29   a4   p3
..  ...  ...
53  a19   p5
54  a17   p2
55  a10  p10
56  a12   p1
57  a13   p2
58   a2   p9
59  a19   p9
60   a3   p3
61  a10   p9
62  a10   p2
63   a6   p5
64   a4   p5
65  a14   p5
66  a10   p5
67  a19   p2
68   a6   p2
69  a18  p10
70  a17   p8
71   a9   p1
72   a7   p5
73   a9   p6
74  a11   p5
75  a15   p7
76  a13   p1
77   a8   p6
78  a11   p8
79  a18   p9
80   a9   p7
81  a12   p7
82  a16   p3

[83 rows x 2 columns]

### Create a matrix from dataframe

In [10]:
matrix = pd.crosstab(index=df_apps[0], columns = df_apps[1])
matrix.to_csv('permissions_matrix_anpn2.csv', index=False)

### Calculate similarity matrix (>= 16gb to run)

In [11]:
similarity_matrix = np.float32(squareform(pdist(matrix, 'cosine')))

In [12]:
similarity_matrix_pearson = np.float32(squareform(pdist(matrix, 'correlation')))

### Write similarity matrix in file (.npy)

In [33]:
np.save('sim_matrix_anpn2.npy', similarity_matrix)

In [13]:
np.savetxt("sim_matriz_anpn2.csv", similarity_matrix, delimiter=",")

In [14]:
matrix

1    p1  p10  p2  p3  p4  p5  p6  p7  p8  p9
0
a1    1    0   1   0   0   0   0   0   0   0
a10   1    1   1   1   1   1   1   1   1   1
a11   0    1   0   0   0   1   0   0   1   0
a12   1    0   0   1   1   0   0   1   0   1
a13   1    0   1   1   0   0   0   0   0   0
a14   0    0   0   0   1   1   1   0   0   0
a15   0    1   0   0   0   0   0   1   1   1
a16   1    0   0   1   0   1   0   1   0   0
a17   0    0   1   0   1   0   1   0   1   0
a18   1    1   1   0   0   0   1   0   0   1
a19   1    1   1   0   0   1   1   0   1   1
a2    0    0   0   0   0   1   0   1   0   1
a20   0    0   0   1   0   0   0   0   0   0
a3    0    0   1   1   1   0   0   0   0   0
a4    0    0   0   1   0   1   0   1   1   0
a5    1    0   0   1   1   0   1   1   0   1
a6    0    0   1   1   0   1   0   1   0   0
a7    1    0   0   0   0   1   0   0   0   1
a8    0    0   0   1   0   0   1   0   0   0
a9    1    0   0   1   0   1   1   1   1   1

In [15]:
similarity_matrix

array([[0.        , 0.5527864 , 1.        , 0.6837722 , 0.18350342,
        1.        , 1.        , 0.6464466 , 0.6464466 , 0.36754447,
        0.46547753, 1.        , 1.        , 0.5917517 , 1.        ,
        0.7113249 , 0.6464466 , 0.5917517 , 1.        , 0.73273873],
       [0.5527864 , 0.        , 0.45227745, 0.29289323, 0.45227745,
        0.45227745, 0.36754447, 0.36754447, 0.36754447, 0.29289323,
        0.16333997, 0.45227745, 0.6837722 , 0.45227745, 0.36754447,
        0.22540332, 0.36754447, 0.45227745, 0.5527864 , 0.16333997],
       [1.        , 0.45227745, 0.        , 1.        , 1.        ,
        0.6666667 , 0.42264974, 0.7113249 , 0.7113249 , 0.7418011 ,
        0.34534633, 0.6666667 , 1.        , 1.        , 0.42264974,
        1.        , 0.7113249 , 0.6666667 , 1.        , 0.56356424],
       [0.6837722 , 0.29289323, 1.        , 0.        , 0.48360223,
        0.7418011 , 0.5527864 , 0.3291796 , 0.7763932 , 0.6       ,
        0.6619383 , 0.48360223, 0.5527864 , 0.48360223, 0.5527864 ,
        0.08712907, 0.5527864 , 0.48360223, 0.6837722 , 0.3238766 ],
       [0.18350342, 0.45227745, 1.        , 0.48360223, 0.        ,
        1.        , 1.        , 0.42264974, 0.7113249 , 0.48360223,
        0.56356424, 1.        , 0.42264974, 0.33333334, 0.7113249 ,
        0.5285955 , 0.42264974, 0.6666667 , 0.5917517 , 0.56356424],
       [1.        , 0.45227745, 0.6666667 , 0.7418011 , 1.        ,
        0.        , 1.        , 0.7113249 , 0.42264974, 0.7418011 ,
        0.56356424, 0.6666667 , 1.        , 0.6666667 , 0.7113249 ,
        0.5285955 , 0.7113249 , 0.6666667 , 0.5917517 , 0.56356424],
       [1.        , 0.36754447, 0.42264974, 0.5527864 , 1.        ,
        1.        , 0.        , 0.75      , 0.75      , 0.5527864 ,
        0.43305328, 0.42264974, 1.        , 1.        , 0.5       ,
        0.5917517 , 0.75      , 0.7113249 , 1.        , 0.43305328],
       [0.6464466 , 0.36754447, 0.7113249 , 0.3291796 , 0.42264974,
        0.7113249 , 0.75      , 0.        , 1.        , 0.7763932 ,
        0.6220355 , 0.42264974, 0.5       , 0.7113249 , 0.25      ,
        0.38762757, 0.25      , 0.42264974, 0.6464466 , 0.24407105],
       [0.6464466 , 0.36754447, 0.7113249 , 0.7763932 , 0.7113249 ,
        0.42264974, 0.75      , 1.        , 0.        , 0.5527864 ,
        0.43305328, 1.        , 1.        , 0.42264974, 0.75      ,
        0.5917517 , 0.75      , 1.        , 0.6464466 , 0.6220355 ],
       [0.36754447, 0.29289323, 0.7418011 , 0.6       , 0.48360223,
        0.7418011 , 0.5527864 , 0.7763932 , 0.5527864 , 0.        ,
        0.15484574, 0.7418011 , 1.        , 0.7418011 , 1.        ,
        0.45227745, 0.7763932 , 0.48360223, 0.6837722 , 0.49290743],
       [0.46547753, 0.16333997, 0.34534633, 0.6619383 , 0.56356424,
        0.56356424, 0.43305328, 0.6220355 , 0.43305328, 0.15484574,
        0.        , 0.56356424, 1.        , 0.7817821 , 0.6220355 ,
        0.53708994, 0.6220355 , 0.34534633, 0.73273873, 0.2857143 ],
       [1.        , 0.45227745, 0.6666667 , 0.48360223, 1.        ,
        0.6666667 , 0.42264974, 0.42264974, 1.        , 0.7418011 ,
        0.56356424, 0.        , 1.        , 1.        , 0.42264974,
        0.5285955 , 0.42264974, 0.33333334, 1.        , 0.34534633],
       [1.        , 0.6837722 , 1.        , 0.5527864 , 0.42264974,
        1.        , 1.        , 0.5       , 1.        , 1.        ,
        1.        , 1.        , 0.        , 0.42264974, 0.5       ,
        0.5917517 , 0.5       , 1.        , 0.29289323, 0.6220355 ],
       [0.5917517 , 0.45227745, 1.        , 0.48360223, 0.33333334,
        0.6666667 , 1.        , 0.7113249 , 0.42264974, 0.7418011 ,
        0.7817821 , 1.        , 0.42264974, 0.        , 0.7113249 ,
        0.5285955 , 0.42264974, 1.        , 0.5917517 , 0.7817821 ],
       [1.        , 0.36754447, 0.42264974, 0.5527864 , 0.7113249 ,
        0.7113249 , 0.5       , 0.25      , 0.75      , 1.        ,
        0.6220355 , 0.42264974, 0.5       , 0.7113249 , 0.        ,
        0.5917517 , 0.25      , 0.7113249 , 0.6464466 , 0.24407105],
       [0.7113249 , 0.22540332, 1.        , 0.08712907, 0.5285955 ,
        0.5285955 , 0.5917517 , 0.38762757, 0.5917517 , 0.45227745,
        0.53708994, 0.5285955 , 0.5917517 , 0.5285955 , 0.5917517 ,
        0.        , 0.5917517 , 0.5285955 , 0.42264974, 0.22848324],
       [0.6464466 , 0.36754447, 0.7113249 , 0.5527864 , 0.42264974,
        0.7113249 , 0.75      , 0.25      , 0.75      , 0.7763932 ,
        0.6220355 , 0.42264974, 0.5       , 0.42264974, 0.25      ,
        0.5917517 , 0.        , 0.7113249 , 0.6464466 , 0.43305328],
       [0.5917517 , 0.45227745, 0.6666667 , 0.48360223, 0.6666667 ,
        0.6666667 , 0.7113249 , 0.42264974, 1.        , 0.48360223,
        0.34534633, 0.33333334, 1.        , 1.        , 0.7113249 ,
        0.5285955 , 0.7113249 , 0.        , 1.        , 0.34534633],
       [1.        , 0.5527864 , 1.        , 0.6837722 , 0.5917517 ,
        0.5917517 , 1.        , 0.6464466 , 0.6464466 , 0.6837722 ,
        0.73273873, 1.        , 0.29289323, 0.5917517 , 0.6464466 ,
        0.42264974, 0.6464466 , 1.        , 0.        , 0.46547753],
       [0.73273873, 0.16333997, 0.56356424, 0.3238766 , 0.56356424,
        0.56356424, 0.43305328, 0.24407105, 0.6220355 , 0.49290743,
        0.2857143 , 0.34534633, 0.6220355 , 0.7817821 , 0.24407105,
        0.22848324, 0.43305328, 0.34534633, 0.46547753, 0.        ]],
      dtype=float32)

In [16]:
similarity_matrix_pearson

array([[0.        ,        nan, 1.3273269 , 1.        , 0.23623738,
        1.3273269 , 1.4082483 , 0.89793795, 0.89793795, 0.5       ,
        0.67267317, 1.3273269 , 1.1666666 , 0.7817821 , 1.4082483 ,
        1.1020621 , 0.89793795, 0.7817821 , 1.25      , 1.2182178 ],
       [       nan, 0.        ,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan],
       [1.3273269 ,        nan, 0.        , 1.6546537 , 1.4285715 ,
        0.95238096, 0.64365166, 1.0890871 , 1.0890871 , 1.2182178 ,
        0.5714286 , 0.95238096, 1.2182178 , 1.4285715 , 0.64365166,
        1.8017837 , 1.0890871 , 0.95238096, 1.3273269 , 1.0476191 ],
       [1.        ,        nan, 1.6546537 , 0.        , 0.7817821 ,
        1.2182178 , 1.        , 0.5917517 , 1.4082483 , 1.2       ,
        1.6546537 , 0.7817821 , 0.6666667 , 0.7817821 , 1.        ,
        0.18350342, 1.        , 0.7817821 , 1.        , 0.7817821 ],
       [0.23623738,        nan, 1.4285715 , 0.7817821 , 0.        ,
        1.4285715 , 1.5345225 , 0.64365166, 1.0890871 , 0.7817821 ,
        1.0476191 , 1.4285715 , 0.4908249 , 0.47619048, 1.0890871 ,
        0.91091293, 0.64365166, 0.95238096, 0.7817821 , 1.0476191 ],
       [1.3273269 ,        nan, 0.95238096, 1.2182178 , 1.4285715 ,
        0.        , 1.5345225 , 1.0890871 , 0.64365166, 1.2182178 ,
        1.0476191 , 0.95238096, 1.2182178 , 0.95238096, 1.0890871 ,
        0.91091293, 1.0890871 , 0.95238096, 0.7817821 , 1.0476191 ],
       [1.4082483 ,        nan, 0.64365166, 1.        , 1.5345225 ,
        1.5345225 , 0.        , 1.25      , 1.25      , 1.        ,
        0.91091293, 0.64365166, 1.2721655 , 1.5345225 , 0.8333333 ,
        1.1666666 , 1.25      , 1.0890871 , 1.4082483 , 0.91091293],
       [0.89793795,        nan, 1.0890871 , 0.5917517 , 0.64365166,
        1.0890871 , 1.25      , 0.        , 1.6666666 , 1.4082483 ,
        1.3563483 , 0.64365166, 0.5917517 , 1.0890871 , 0.41666666,
        0.75      , 0.41666666, 0.64365166, 0.89793795, 0.46547753],
       [0.89793795,        nan, 1.0890871 , 1.4082483 , 1.0890871 ,
        0.64365166, 1.25      , 1.6666666 , 0.        , 1.        ,
        0.91091293, 1.5345225 , 1.2721655 , 0.64365166, 1.25      ,
        1.1666666 , 1.25      , 1.5345225 , 0.89793795, 1.3563483 ],
       [0.5       ,        nan, 1.2182178 , 1.2       , 0.7817821 ,
        1.2182178 , 1.        , 1.4082483 , 1.        , 0.        ,
        0.34534633, 1.2182178 , 1.3333334 , 1.2182178 , 1.8164966 ,
        1.        , 1.4082483 , 0.7817821 , 1.        , 1.2182178 ],
       [0.67267317,        nan, 0.5714286 , 1.6546537 , 1.0476191 ,
        1.0476191 , 0.91091293, 1.3563483 , 0.91091293, 0.34534633,
        0.        , 1.0476191 , 1.5091751 , 1.5238096 , 1.3563483 ,
        1.5345225 , 1.3563483 , 0.5714286 , 1.2182178 , 0.95238096],
       [1.3273269 ,        nan, 0.95238096, 0.7817821 , 1.4285715 ,
        0.95238096, 0.64365166, 0.64365166, 1.5345225 , 1.2182178 ,
        1.0476191 , 0.        , 1.2182178 , 1.4285715 , 0.64365166,
        0.91091293, 0.64365166, 0.47619048, 1.3273269 , 0.5714286 ],
       [1.1666666 ,        nan, 1.2182178 , 0.6666667 , 0.4908249 ,
        1.2182178 , 1.2721655 , 0.5917517 , 1.2721655 , 1.3333334 ,
        1.5091751 , 1.2182178 , 0.        , 0.4908249 , 0.5917517 ,
        0.72783446, 0.5917517 , 1.2182178 , 0.33333334, 0.7817821 ],
       [0.7817821 ,        nan, 1.4285715 , 0.7817821 , 0.47619048,
        0.95238096, 1.5345225 , 1.0890871 , 0.64365166, 1.2182178 ,
        1.5238096 , 1.4285715 , 0.4908249 , 0.        , 1.0890871 ,
        0.91091293, 0.64365166, 1.4285715 , 0.7817821 , 1.5238096 ],
       [1.4082483 ,        nan, 0.64365166, 1.        , 1.0890871 ,
        1.0890871 , 0.8333333 , 0.41666666, 1.25      , 1.8164966 ,
        1.3563483 , 0.64365166, 0.5917517 , 1.0890871 , 0.        ,
        1.1666666 , 0.41666666, 1.0890871 , 0.89793795, 0.46547753],
       [1.1020621 ,        nan, 1.8017837 , 0.18350342, 0.91091293,
        0.91091293, 1.1666666 , 0.75      , 1.1666666 , 1.        ,
        1.5345225 , 0.91091293, 0.72783446, 0.91091293, 1.1666666 ,
        0.        , 1.1666666 , 0.91091293, 0.5917517 , 0.64365166],
       [0.89793795,        nan, 1.0890871 , 1.        , 0.64365166,
        1.0890871 , 1.25      , 0.41666666, 1.25      , 1.4082483 ,
        1.3563483 , 0.64365166, 0.5917517 , 0.64365166, 0.41666666,
        1.1666666 , 0.        , 1.0890871 , 0.89793795, 0.91091293],
       [0.7817821 ,        nan, 0.95238096, 0.7817821 , 0.95238096,
        0.95238096, 1.0890871 , 0.64365166, 1.5345225 , 0.7817821 ,
        0.5714286 , 0.47619048, 1.2182178 , 1.4285715 , 1.0890871 ,
        0.91091293, 1.0890871 , 0.        , 1.3273269 , 0.5714286 ],
       [1.25      ,        nan, 1.3273269 , 1.        , 0.7817821 ,
        0.7817821 , 1.4082483 , 0.89793795, 0.89793795, 1.        ,
        1.2182178 , 1.3273269 , 0.33333334, 0.7817821 , 0.89793795,
        0.5917517 , 0.89793795, 1.3273269 , 0.        , 0.67267317],
       [1.2182178 ,        nan, 1.0476191 , 0.7817821 , 1.0476191 ,
        1.0476191 , 0.91091293, 0.46547753, 1.3563483 , 1.2182178 ,
        0.95238096, 0.5714286 , 0.7817821 , 1.5238096 , 0.46547753,
        0.64365166, 0.91091293, 0.5714286 , 0.67267317, 0.        ]],
      dtype=float32)